* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}


/* Navigation Bar */

nav {
    width: 100%;
    height: auto;
    z-index: 100;
    left: 0;
    top: 0;
    position: fixed;
    padding: 15px 25px 15px 35px;
    transition: 0.6s;
}

nav .logo {
    float: left;
    color: white;
    font-size: 1.8rem;
    font-family: 'Niconne';
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 25px 0 0 15px;
}

nav .logo h1 span {
    color: rgb(228, 149, 84);
}

nav .menu-list {
    position: relative;
    float: right;
    padding: 10px;
    margin: 5px 0;
    overflow: hidden;
}

nav .menu-list .icons-list {
    width: 33%;
    margin-bottom: 15px;
    margin-left: 70%;
}

.menu-list .icons-list a {
    color: white;
    margin-right: 20px;
    font-size: 1rem;
    transition: 0.6s;
}

.menu-list .icons-list a:hover,
.menu-list ul li a:hover {
    color: rgb(219, 154, 101);
}

nav .menu-list ul {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-list ul li {
    position: relative;
    list-style: none;
}

.menu-list ul li a {
    text-decoration: none;
    display: block;
    color: white;
    margin: 0 22px;
    font-size: 0.9rem;
    font-family: cursive;
    transition: 0.6s;
    padding: 0 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-list ul li a.active {
    color: rgb(219, 154, 101);
}

.menu-list ul li a.active::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f111';
    position: absolute;
    transform: translate(-200%, 140%);
    font-size: 0.3rem;
    color: #fff;
}

.menu-list ul li a.active::after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f111';
    position: absolute;
    transform: translate(100%, 150%);
    font-size: 0.3rem;
    color: #fff;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav.sticky {
    padding: 5px 25px 5px 35px;
    background-color: #fff;
    color: black;
    box-shadow: 0 1px 6px 1px rgb(223, 220, 220);
}

nav.sticky .logo {
    color: black;
    margin: 20px 0;
}

nav.sticky .menu-list .icons-list {
    display: none;
}

nav.sticky .menu-list ul li a {
    color: black;
}

nav.sticky .menu-list ul li a.active {
    color: rgb(219, 154, 101);
}

nav.sticky .menu-list ul li a.active::before,
nav.sticky .menu-list ul li a.active::after {
    color: #000;
}


/*Header Section*/

header {
    width: 100%;
    min-height: 95vh;
    position: relative;
    overflow: hidden;
}

header .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

header .color-overlay h1 {
    margin-top: 17%;
    font-size: 4.2rem;
    color: white;
    font-family: 'Redressed';
    margin-bottom: 20px;
}

header .color-overlay h2 {
    color: white;
    font-family: 'Satisfy';
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 1.9rem;
    color: rgb(204, 131, 70);
}


/* Contact Info */

.contact {
    width: 100%;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.contact .info {
    float: left;
    width: 48%;
    margin: 30px 0 50px;
    padding: 10px;
}

.contact .info h3,
.get-in-touch h3 {
    text-transform: uppercase;
    font-family: 'Acme';
    letter-spacing: 2px;
    margin: 10px 0 10px;
    font-size: 1.5rem;
}

.contact .info p {
    margin: 10px auto;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact .address {
    float: right;
    width: 48%;
    margin: 30px 0 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .address .details {
    margin: 20px 15px;
    width: 40%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.address .details h4 {
    margin-bottom: 5px;
}

.contact .line-design {
    float: none;
    clear: both;
    width: 50%;
    height: 30px;
    margin: 25px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .line-design .line {
    width: 25%;
    height: 1px;
    margin: 0 20px;
    background-color: rgba(199, 124, 62, 0.5);
}

.contact .line-design .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}


/* Form */

.get-in-touch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-in-touch h1 {
    font-size: 3.7rem;
    margin: 10px 0 0;
    text-align: center;
    font-family: 'Kaushan Script';
    letter-spacing: 2px;
    color: rgba(216, 138, 74, 0.89);
}

.get-in-touch h3 {
    text-align: center;
}

.get-in-touch .notification {
    margin-top: 15px;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.get-in-touch .notification p {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 10px;
}

.get-in-touch .notification h3 {
    font-family: 'Marck Script';
    text-transform: capitalize;
    margin: 15px 0;
    font-weight: 500;
}

.get-in-touch .notification h3 span {
    color: rgb(204, 131, 70);
    display: inline;
    margin: 0;
    font-weight: 700;
}

.get-in-touch form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px 0;
}

.get-in-touch form input,
.get-in-touch form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    height: 40px;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.get-in-touch form textarea {
    height: auto;
}

.get-in-touch button {
    display: block;
    float: none;
    clear: both;
    padding: 10px 35px;
    margin: 0px auto 50px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #000;
    color: rgb(219, 154, 101);
    font-family: 'Kaushan Script';
    letter-spacing: 2px;
    word-spacing: 2px;
    transition: 0.6s;
    cursor: pointer;
}

.get-in-touch button:hover {
    color: #fff;
}


/*Footer*/

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 80px 0 0;
    background-color: rgb(22, 21, 21);
}

footer .top {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .top .left {
    width: 32%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.top .left h1,
.top .right h1 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Acme';
    letter-spacing: 2px;
    margin: 15px 0 5px;
}

.top .left .tweet {
    overflow: hidden;
    height: 140px;
    margin-bottom: 10px;
}

.top .left .tweet .offer {
    display: inline-block;
    width: 100%;
    height: 140px;
}

.top .left .tweet .offer h3 {
    font-size: 1.5rem;
    margin: 6px 0 4px;
    font-family: 'Niconne';
    letter-spacing: 2px;
    color: rgb(218, 147, 88);
}

.top .left .tweet .offer p {
    font-family: 'Marck Script';
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 5px 0;
    text-shadow: 1px 1px 2px darkgrey;
}

.top .left .prev-btn {
    margin-right: 15px;
    transition: 0.6s;
    font-size: 1.3rem;
    color: white;
    z-index: 1;
}

.top .left .next-btn {
    margin-left: 15px;
    transition: 0.6s;
    font-size: 1.3rem;
    color: white;
}

.top .left .prev-btn:hover,
.top .left .next-btn:hover {
    color: rgb(218, 147, 88);
    cursor: pointer;
}

.top .left .icon {
    color: rgb(218, 147, 88);
    font-size: 1.5rem;
}

footer .top .mid {
    padding: 10px;
    margin-top: 15px;
    height: 140px;
}

.top .mid h1 {
    color: rgb(218, 147, 88);
    font-family: 'Niconne';
    font-size: 2.3rem;
    letter-spacing: 2px;
    text-align: center;
}

.top .mid .social {
    margin: 30px 0 0;
}

.top .mid .social a {
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

.top .mid .social a:last-child {
    margin-right: 0;
}

.top .mid .social a :hover {
    color: rgb(218, 147, 88);
}

.top .mid .social .fa {
    font-size: 1.4rem;
    transition: 0.6s;
}

footer .top .right {
    text-align: center;
    color: white;
}

.top .right h1 {
    margin: 30px 0 50px;
}

.top .right .input-box {
    position: relative;
    width: 300px;
    height: 45px;
}

.top .right .input-box input {
    padding: 12px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: none;
}

.top .right .input-box .fa {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: rgb(218, 147, 88);
}

footer .middle {
    width: 100%;
    padding: 15px 0;
}

footer .middle .line-design {
    margin: 15px auto;
}

footer .address-details {
    width: 100%;
    color: lightgray;
    padding: 20px;
    margin-bottom: 50px;
}

footer .address-details ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .address-details li {
    font-family: 'Redressed';
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

footer .reserve {
    width: 100;
    background-color: rgba(55, 55, 56, 0.432);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .reserve h3 {
    color: white;
    margin-left: 20px;
    font-family: 'Niconne';
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 100;
}

footer .reserve h3 span {
    color: rgb(218, 147, 88);
}

.reserve a {
    font-size: 1.3rem;
    color: rgb(218, 147, 88);
    transition: all 0.4s linear;
    text-decoration: none;
    font-family: 'Niconne';
    cursor: pointer;
    padding: 5px;
    display: block;
    margin-right: 40px;
}

.reserve a:hover {
    transform: skew(5deg, 3deg);
    box-shadow: 3px 3px 5px rgb(90, 89, 89);
}