* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}


/* Navigation Bar */

nav {
    width: 100%;
    height: auto;
    z-index: 100;
    left: 0;
    top: 0;
    position: fixed;
    padding: 15px 25px 15px 35px;
    transition: 0.6s;
}

nav .logo {
    float: left;
    color: white;
    font-size: 1.8rem;
    font-family: 'Niconne';
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 25px 0 0 15px;
}

nav .logo h1 span {
    color: rgb(228, 149, 84);
}

nav .icons-list {
    width: 15%;
    float: right;
    margin-top: 10px;
}

.icons-list a {
    color: white;
    margin-right: 8%;
    font-size: 1rem;
    transition: 0.6s;
}

.icons-list a:last-child {
    margin-right: 0;
}

.icons-list a:hover,
.menu ul li a:hover {
    color: rgb(219, 154, 101);
}

nav .menu {
    position: absolute;
    top: 60%;
    right: 2%;
}

nav .menu ul {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.menu ul li {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    color: white;
    margin: 0 22px;
    font-size: 0.9rem;
    font-family: cursive;
    transition: 0.6s;
    padding: 0 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu ul li a.active {
    color: rgb(219, 154, 101);
}

.menu ul li a.active::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f111';
    position: absolute;
    transform: translate(-200%, 140%);
    font-size: 0.3rem;
    color: #fff;
}

.menu ul li a.active::after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f111';
    position: absolute;
    transform: translate(100%, 150%);
    font-size: 0.3rem;
    color: #fff;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav.sticky {
    padding: 5px 25px 5px 35px;
    background-color: #fff;
    color: black;
    box-shadow: 0 1px 6px 1px rgb(223, 220, 220);
}

nav.sticky .logo {
    color: black;
    margin: 20px 0;
}

nav.sticky .icons-list {
    display: none;
}

nav.sticky .menu {
    top: 45%;
}

nav.sticky .menu ul li a {
    color: black;
}

nav.sticky .menu ul li a.active {
    color: rgb(219, 154, 101);
}

nav.sticky .menu ul li a.active::before,
nav.sticky .menu ul li a.active::after {
    color: #000;
}


/*Header Section*/

.parallax {
    width: 100%;
    height: 95vh;
    position: relative;
    min-height: 95vh;
    overflow: hidden;
    background: transparent;
}

.parallax .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallax .color-overlay h1 {
    font-size: 4.2rem;
    color: white;
    font-family: 'Redressed';
    margin-bottom: 20px;
}

.parallax .color-overlay h2 {
    color: white;
    font-family: 'Satisfy';
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 1.9rem;
    color: rgb(204, 131, 70);
}


/* Reservation Section */

.reservation {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.reservation h3,
.reservation .details h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Acme';
    letter-spacing: 2px;
    margin: 80px 0 10px;
}

.reservation span {
    display: block;
    text-align: center;
    margin: 30px;
}

.reservation span i {
    color: rgba(199, 124, 62, 0.89);
    font-size: 1.8rem;
    margin: 0 10px;
}

.reservation p {
    margin: 10px auto 60px;
    width: 65%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reservation .line-design,
footer .middle .line-design {
    width: 50%;
    height: 30px;
    margin: 25px auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation .line-design .line,
footer .middle .line-design .line {
    width: 25%;
    height: 1px;
    margin: 0 20px;
    background-color: rgba(199, 124, 62, 0.5);
}

.reservation .line-design .dot,
footer .middle .line-design .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

.reservation .notification {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.reservation .notification p {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 10px;
}

.reservation .notification h3 {
    font-family: 'Marck Script';
    text-transform: capitalize;
    margin: 15px 0;
    font-weight: 500;
    padding: 0 10px;
}

.reservation .notification h3 span {
    color: rgb(204, 131, 70);
    display: inline;
    margin: 0;
    font-weight: 700;
}

.reservation .details {
    width: 100%;
    padding: 0px 50px;
    transition: 0.5s;
}

.reservation .details h3 {
    margin: 10px 5px 15px;
    text-align: justify;
}

.details .book {
    float: left;
    width: 48%;
    margin-bottom: 50px;
}

.details .info {
    float: right;
    width: 48%;
    margin-bottom: 50px;
}

.details form {
    display: flex;
    flex-direction: column;
}

.details form input,
.details form select,
.details form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    height: 40px;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.details button {
    display: block;
    float: none;
    clear: both;
    padding: 10px 25px;
    margin: 0px auto 80px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #000;
    color: rgb(219, 154, 101);
    font-family: 'Kaushan Script';
    letter-spacing: 2px;
    word-spacing: 2px;
    transition: 0.6s;
    cursor: pointer;
}

.details button:hover {
    color: #fff;
}


/*Footer*/

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 80px 0 0;
    background-color: rgb(22, 21, 21);
}

footer .top {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .top .left {
    width: 32%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.top .left h1,
.top .right h1 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Acme';
    letter-spacing: 2px;
    margin: 15px 0 5px;
}

.top .left .tweet {
    overflow: hidden;
    height: 140px;
    margin-bottom: 10px;
}

.top .left .tweet .offer {
    display: inline-block;
    width: 100%;
    height: 140px;
}

.top .left .tweet .offer h3 {
    font-size: 1.5rem;
    margin: 6px 0 4px;
    font-family: 'Niconne';
    letter-spacing: 2px;
    color: rgb(218, 147, 88);
}

.top .left .tweet .offer p {
    font-family: 'Marck Script';
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 5px 0;
    text-shadow: 1px 1px 2px darkgrey;
}

.top .left .prev-btn {
    margin-right: 15px;
    transition: 0.6s;
    font-size: 1.3rem;
    color: white;
    z-index: 1;
}

.top .left .next-btn {
    margin-left: 15px;
    transition: 0.6s;
    font-size: 1.3rem;
    color: white;
}

.top .left .prev-btn:hover,
.top .left .next-btn:hover {
    color: rgb(218, 147, 88);
    cursor: pointer;
}

.top .left .icon {
    color: rgb(218, 147, 88);
    font-size: 1.5rem;
}

footer .top .mid {
    padding: 10px;
    margin-top: 15px;
    height: 140px;
}

.top .mid h1 {
    color: rgb(218, 147, 88);
    font-family: 'Niconne';
    font-size: 2.3rem;
    letter-spacing: 2px;
    text-align: center;
}

.top .mid .social {
    margin: 30px 0 0;
}

.top .mid .social a {
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

.top .mid .social a:last-child {
    margin-right: 0;
}

.top .mid .social a :hover {
    color: rgb(218, 147, 88);
}

.top .mid .social .fa {
    font-size: 1.4rem;
    transition: 0.6s;
}

footer .top .right {
    text-align: center;
    color: white;
}

.top .right h1 {
    margin: 30px 0 50px;
}

.top .right .input-box {
    position: relative;
    width: 300px;
    height: 45px;
    margin: 0 auto;
}

.top .right .input-box input {
    padding: 12px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: none;
}

.top .right .input-box .fa {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: rgb(218, 147, 88);
}

footer .middle {
    width: 100%;
    padding: 15px 0;
}

footer .middle .line-design {
    margin: 15px auto;
}

footer .middle .line-design .dot {
    background-color: #fff;
}

footer .address-details {
    width: 100%;
    color: lightgray;
    padding: 20px;
    margin-bottom: 50px;
}

footer .address-details ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .address-details li {
    font-family: 'Redressed';
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

footer .rights {
    width: 100;
    background-color: rgba(55, 55, 56, 0.432);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .rights h3 {
    color: white;
    margin-left: 20px;
    font-family: 'Niconne';
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 100;
}

footer .rights h3 span {
    color: rgb(218, 147, 88);
}

footer .rights a {
    font-size: 1.3rem;
    color: rgb(218, 147, 88);
    transition: all 0.4s linear;
    text-decoration: none;
    font-family: 'Niconne';
    cursor: pointer;
    padding: 5px;
    display: block;
    margin-right: 40px;
}

.rights a:hover {
    transform: skew(5deg, 3deg);
    box-shadow: 3px 3px 5px rgb(90, 89, 89);
}


/* Responsive */

@media screen and (max-width:950px) {
    nav {
        padding: 15px 20px 15px 30px;
    }
    .menu ul li a {
        margin: 0 18px;
    }
}

@media screen and (max-width:900px) {
    footer {
        padding: 60px 0 0;
    }
    .top .left h1 {
        margin: 10px 0 5px;
    }
    .top .right h1 {
        margin: 30px 0;
    }
}

@media screen and (max-width:850px) {
    /* Navigation Bar */
    nav .menu-toggle {
        display: block;
        width: 45px;
        height: 45px;
        margin: 10px;
        text-align: center;
        cursor: pointer;
        color: white;
        font-size: 32px;
        padding-top: 5px;
        position: absolute;
        top: 30%;
        right: 3%;
    }
    .menu-toggle::before {
        font-family: "Font Awesome 5 Pro";
        content: '\f0c9';
        line-height: 40px;
        transition: 0.4s;
    }
    .menu-toggle.toggle::before {
        content: '\f00d';
    }
    nav .menu {
        display: none;
    }
    nav .menu.toggle {
        display: block;
        width: 95%;
        margin: 30px auto 0;
        background-color: rgb(22, 21, 21);
    }
    nav .menu.toggle ul {
        width: 100%;
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    nav .menu ul li {
        margin-bottom: 25px;
    }
    nav .icons-list {
        width: 22%;
    }
    nav.sticky .menu-toggle {
        color: #000;
        top: 20%;
    }
    nav.sticky .menu.toggle ul li a {
        color: white;
    }
    nav.sticky .menu.toggle ul li a.active::before,
    nav.sticky .menu.toggle ul li a.active::after {
        color: #fff;
    }
    nav.sticky .menu.toggle ul li a.active {
        color: rgb(219, 154, 101);
    }
    /* Line and Dots */
    .reservation .line-design,
    footer .middle .line-design {
        width: 80%;
        margin: 20px auto;
    }
    .reservation .line-design .line,
    footer .middle .line {
        width: 30%;
    }
    /* Footer */
    footer .top .left {
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    /* Reservation */
    .reservation span i {
        font-size: 1.5rem;
    }
    .reservation p {
        width: 75%;
    }
    .reservation .details {
        padding: 0px 30px;
    }
    .details .book,
    .details .info {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:600px) {
    /* Navigation Bar */
    nav .icons-list {
        width: 26%;
    }
    /* Header */
    .parallax .color-overlay h1 {
        font-size: 4rem;
        text-align: center;
    }
    .parallax .color-overlay h2 {
        font-size: 1.4rem;
        text-align: center;
        padding: 0 10px;
    }
    /* Reservation */
    .reservation span i {
        font-size: 1.3rem;
    }
    .reservation p {
        width: 88%;
    }
    /* Footer */
    footer .top {
        display: block;
    }
    footer .top .left {
        width: 100%;
        padding: 10px;
    }
    .top .left .tweet {
        height: 130px;
        margin-bottom: 5px;
    }
    .top .mid .social {
        width: 65%;
        margin: 30px auto 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer .address-details ul {
        display: block;
        text-align: center;
    }
    footer .address-details ul li {
        list-style-type: none;
    }
    footer .rights {
        padding: 20px;
        display: block;
    }
    footer .rights h3 {
        font-size: 1.2rem;
        margin-left: 0px;
    }
    footer .rights a {
        font-size: 1.1rem;
        margin-right: 20px;
        margin-top: 20px;
        float: right;
    }
    footer .rights::after {
        content: '';
        display: block;
        clear: both;
    }
}

@media screen and (max-width:500px) {
    nav {
        padding: 15px 20px 15px 20px;
    }
    nav .logo {
        margin: 25px 0 0 5px;
    }
    nav.sticky {
        padding: 5px 25px 5px;
        background-color: #fff;
        color: black;
        box-shadow: 0 1px 6px 1px rgb(223, 220, 220);
    }
    nav .icons-list {
        width: 35%;
    }
    /* Line and Dots */
    .reservation .line-design,
    footer .middle .line-design {
        width: 95%;
    }
}